extends layout

block content
    h1 Eintrag
    div(class="row border border-secondary p-2 m-2")
        form(action="/updateEntry/"+entryData.eid method="post")
            div(class="row justify-content-between")
                div(class="col col-lg-2 bg-dark text-white rounded p-3")
                    h4 Nutzername
                    input(type="text" class="form-control" id="usernameField" name="usernameField" value=entryData.username)
                div(class="col col-lg-2 bg-dark text-white rounded p-3")
                    h4 Passwort
                    input(type="password" class="form-control" id="passwordField" name="passwordField" value=entryData.password)
                    label(for="visibilityCheck") Passwort anzeigen
                    input(class="form-check-input" type="checkbox" id="visibilityCheck" name="visibilityCheck" onclick="toggleVisibility()")
                    button(type="button" class="btn btn-secondary" onclick="copyPassword()") Copy
                div(class="col col-lg-2 bg-dark text-white rounded p-3")
                        h4 Adressen
                        input(type="text" class="form-control" id="domainField" name="domainField" value=entryData.urls)
                div(class="col col-lg-2 bg-dark text-white rounded p-3")
                        h4 Notizen
                        input(type="text" class="form-control" id="annotField" name="annotField" value=entryData.annot)
            button(type="submit", class="btn btn-primary") Speichern
            a(href="/dashboard")
                button(class="btn btn-secondary") Abbrechen

    form(action="/deleteEntry/"+entryData.eid method="post")
        button(type="submit" class="btn btn-danger") Löschen

    form
        div(class="form-row")
            div(class="form-group col-md-5")
                label(for="inputLength") Password length
                input(type="number" class="form-control" id="inputLength" placeholder="Length" value=16 min=4 max=128)
            div(class="form-group col-md-5")
                label(for="excludedChars") Characters to exclude
                input(type="text" class="form-control" id="excludedChars" placeholder="Characters to exclude")
        div(class="form-group")
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="capitalCheck" checked)
                label(class="form-check-label" for="capitalCheck") Capital Letters
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="digitCheck" checked)
                label(class="form-check-label" for="digitCheck") Digits
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="symbolCheck" checked)
                label(class="form-check-label" for="symbolCheck") Special Characters
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="ambiguousCheck")
                label(class="form-check-label" for="ambiguousCheck") Avoid ambiguous
        button(type="button" class="btn btn-primary" value="click" onclick="generatePassword()") Generate


    script.
        function toggleVisibility() {
            if(document.getElementById("visibilityCheck").checked) {
                document.getElementById("passwordField").type="text";
            }
            else {
                document.getElementById("passwordField").type="password";
            }
        }

        function copyPassword() {
            navigator.clipboard.writeText(document.getElementById("passwordField").value);
        }

        function generatePassword() {
            let length = document.getElementById("inputLength").value;
            let exclude = document.getElementById("excludedChars").value;
            let capital = document.getElementById("capitalCheck").checked;
            let digits = document.getElementById("digitCheck").checked;
            let symbols = document.getElementById("symbolCheck").checked;
            let avoidAmbiguous = document.getElementById("ambiguousCheck").checked;

            if (length > 128) {
                length = 128;
                alert("Maximum Length is 128");
            }

            let chars = [];
            chars.push(...'abcdefghijklmnopqrstuvwxyz');
            if (capital) {
                chars.push(...'ABCDEFGHIJKLMNOPQRSTUVWXYZ');
            }
            if (digits) {
                chars.push(...'0123456789');
            }
            if (symbols) {
                chars.push(...'!"§$%&/()=?{[]}+*~#,;.:-_<>');
            }
            if (avoidAmbiguous) {
                chars = chars.filter((char) => !['I', 'l', '1', 'O', '0'].includes(char));
            }
            chars = chars.filter((char) => !exclude.includes(char));

            let password = "";

            for (let i = 0; i < length; i++) {
                password = password + chars[Math.floor(Math.random() * (chars.length - 1 - 1))];
            }

            document.getElementById("password").value = password;

            console.log(password);
            return password;
        }