extends layout

block links
    script(type="text/javascript" src="passwordGenerator.js")


block content

    input(type="text" class="form-control mb-2" id="password" placeholder="Generated Password" value="Test" disabled)

    form
        div(class="form-row")
            div(class="form-group col-md-5")
                label(for="inputLength") Password length
                input(type="number" class="form-control" id="inputLength" placeholder="Length" value=16 min=4 max=128)
            div(class="form-group col-md-5")
                label(for="excludedChars") Characters to exclude
                input(type="text" class="form-control" id="excludedChars" placeholder="Characters to exclude")
        div(class="form-group")
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="capitalCheck" checked)
                label(class="form-check-label" for="capitalCheck") Capital Letters
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="digitCheck" checked)
                label(class="form-check-label" for="digitCheck") Digits
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="symbolCheck" checked)
                label(class="form-check-label" for="symbolCheck") Special Characters
            div(class="form-check")
                input(class="form-check-input" type="checkbox" id="ambiguousCheck")
                label(class="form-check-label" for="ambiguousCheck") Avoid ambiguous
        button(type="button" class="btn btn-primary" value="click" onclick="generatePassword()") Generate
    script.
        function generatePassword() {
            let length = document.getElementById("inputLength").value;
            let exclude = document.getElementById("excludedChars").value;
            let capital = document.getElementById("capitalCheck").checked;
            let digits = document.getElementById("digitCheck").checked;
            let symbols = document.getElementById("symbolCheck").checked;
            let avoidAmbiguous = document.getElementById("ambiguousCheck").checked;

            if(length>128) {
                length=128;
                alert("Maximum Length is 128");
            }

            let chars = [];
            chars.push(...'abcdefghijklmnopqrstuvwxyz');
            if (capital) {
                chars.push(...'ABCDEFGHIJKLMNOPQRSTUVWXYZ');
            }
            if (digits) {
                chars.push(...'0123456789');
            }
            if (symbols) {
                chars.push(...'!"ยง$%&/()=?{[]}+*~#,;.:-_<>');
            }
            if (avoidAmbiguous) {
                chars = chars.filter((char) => !['I', 'l', '1', 'O', '0'].includes(char));
            }
            chars = chars.filter((char) => !exclude.includes(char));

            let password = "";

            for (let i = 0; i < length; i++) {
                password = password + chars[Math.floor(Math.random() * (chars.length - 1 - 1))];
            }

            document.getElementById("password").value = password;

            console.log(password);
            return password;
        }